/* Style for the "Ajouter un commentaire" button */
.btn-ajouter {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-ajouter:hover {
    background-color: #0056b3;
}
